body {
    font-family: 'Open Sans';
    min-height: 400px;
    background-image: url('https://image.flaticon.com/icons/png/512/201/201635.png');
    background-color: #6b7aa1;
    background-size: 40vh;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
    height: auto;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.media {
    color: #ffffff;
    font-size: 30px;
    margin-top: 80px;
}

.resultado {
    color: #ffffff;
    font-size: 30px;
    margin-top: 80px;
}
